PORT=3001
NODE_ENV=development
LOG_LEVEL=info

MONGO_URI=mongodb://localhost:27017/firewall_protocol
MONGO_DB_NAME=firewall_protocol

IDENTITY_URL=http://localhost:3002

NIGHT_DURATION_MS=60000
DAY_DURATION_MS=60000
AUTO_ADVANCE=false
